<% include ../common/header %>

    <h1>내 일정 <a href="register.do" class="btn btn-primary pull-right">새 일정</a></h1>

    <% if(todos && todos.length) { %>
        <% todos.forEach(function(todo, index) { %>
            <div class="panel <%= todo.completed ? "panel-warning" : "panel-info"%> ">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <a href="complete.do?id=<%=todo._id%>" class="btn btn-success btn-md pull-right" <%=todo.completed ? "disabled" : ""%> ><%= todo.completed ? "완료됨" : "완료"%></a>
                    </div>
                    <h4><%=todo.title%></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <%=todo.desc%>
                        <small class="pull-right"><%=todo.dates%></small>
                    </p>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="panel panel-default panel-body">
            예정된 일정이 없습니다.
        </div>
    <% } %>

<% include ../common/footer %>